nodered/flow.json
[
  {
    "id": "f7f0ec16aa75d46b",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "64bcd949fa5c5c0c",
    "type": "mqtt in",
    "z": "f7f0ec16aa75d46b",
    "name": "",
    "topic": "b6310545426/happye/water",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "6f7d81873a6db7b1",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 200,
    "y": 260,
    "wires": [["57b3468fac735861"]]
  },
  {
    "id": "7bf66ea2cb833436",
    "type": "mongodb4",
    "z": "f7f0ec16aa75d46b",
    "clientNode": "153d582d07f88371",
    "mode": "collection",
    "collection": "Water",
    "operation": "insertOne",
    "output": "toArray",
    "handleDocId": true,
    "name": "",
    "x": 960,
    "y": 260,
    "wires": [["3cf143693e0dd0c3"]]
  },
  {
    "id": "3cf143693e0dd0c3",
    "type": "debug",
    "z": "f7f0ec16aa75d46b",
    "name": "Mongo Output Water",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1220,
    "y": 260,
    "wires": []
  },
  {
    "id": "a0c357a55aec7d20",
    "type": "inject",
    "z": "f7f0ec16aa75d46b",
    "name": "Example Topic",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"water\":1,\"flowRate\":10,\"timeStamp\":\"1234\"}",
    "payloadType": "json",
    "x": 760,
    "y": 340,
    "wires": [["7bf66ea2cb833436"]]
  },
  {
    "id": "a1b2d189aded15a4",
    "type": "mqtt in",
    "z": "f7f0ec16aa75d46b",
    "name": "",
    "topic": "b6310545426/happye/electric",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "6f7d81873a6db7b1",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 200,
    "y": 460,
    "wires": [["671bb92aae0c3d06"]]
  },
  {
    "id": "7d50d11e26175a5a",
    "type": "mongodb4",
    "z": "f7f0ec16aa75d46b",
    "clientNode": "153d582d07f88371",
    "mode": "collection",
    "collection": "Electric",
    "operation": "insertOne",
    "output": "toArray",
    "handleDocId": true,
    "name": "",
    "x": 1000,
    "y": 460,
    "wires": [["f9081324294c8c30"]]
  },
  {
    "id": "f9081324294c8c30",
    "type": "debug",
    "z": "f7f0ec16aa75d46b",
    "name": "Mongo Output Electric",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1220,
    "y": 460,
    "wires": []
  },
  {
    "id": "969c9da5ca36bf65",
    "type": "inject",
    "z": "f7f0ec16aa75d46b",
    "name": "Example Topic",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"amp\":1,\"timeStamp\":\"1234\"}",
    "payloadType": "json",
    "x": 760,
    "y": 560,
    "wires": [["7d50d11e26175a5a"]]
  },
  {
    "id": "fc54e42172488d3c",
    "type": "debug",
    "z": "f7f0ec16aa75d46b",
    "name": "Mongo Output Water",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1000,
    "y": 180,
    "wires": []
  },
  {
    "id": "57b3468fac735861",
    "type": "change",
    "z": "f7f0ec16aa75d46b",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.timeStamp",
        "pt": "msg",
        "to": "",
        "tot": "date"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 260,
    "wires": [["d02d42ec677da599"]]
  },
  {
    "id": "d02d42ec677da599",
    "type": "function",
    "z": "f7f0ec16aa75d46b",
    "name": "Calculate Water",
    "func": "msg.payload.water = msg.payload.flowRate * (1/60);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 260,
    "wires": [["7bf66ea2cb833436", "fc54e42172488d3c"]]
  },
  {
    "id": "bc01bef8c6a0e309",
    "type": "http request",
    "z": "f7f0ec16aa75d46b",
    "name": "TMD",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "query",
    "url": "https://data.tmd.go.th/nwpapi/v1/forecast/location/hourly/at",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "other",
        "keyValue": "authorization",
        "valueType": "other",
        "valueValue": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImI3ZDg2M2MyYzM1YzIwODU3ZmI4MjI3Nzk3NTNiYzEwY2FiZDY1Y2EwMDViN2JmYzRiZDU3N2Y2MTFiYWI4ZmRhY2IyYjgyZTUyY2MxMDNhIn0.eyJhdWQiOiIyIiwianRpIjoiYjdkODYzYzJjMzVjMjA4NTdmYjgyMjc3OTc1M2JjMTBjYWJkNjVjYTAwNWI3YmZjNGJkNTc3ZjYxMWJhYjhmZGFjYjJiODJlNTJjYzEwM2EiLCJpYXQiOjE2NjYzNjUxMTEsIm5iZiI6MTY2NjM2NTExMSwiZXhwIjoxNjk3OTAxMTExLCJzdWIiOiIyMjMxIiwic2NvcGVzIjpbXX0.hIsltxD79BL5FKWWYVQ_9_dMXSJe0A1r_6RoGKvl6k1sJDIk1LnhPqMyym8ry5Q-I2ZXdsUQOoGXS-AYvlgIziXFl3029ObEKEobkbiplFujnnoYPURYOk7taH4Zd0_ArkR1xX287DC61WXY6rE535-pU9mqrLTjIJn1-WTeaCvhLNDSbrBoJI1cOSKEes6POJp7fptc7CqH85jwFwTOYcEgIBInH-EgaPhEOOimUpySV4wvbRm8V3bTYHfIhp4P1F0yzueUnG4Isqc-HkPBb0FRAimAHh7qAcewKmdP1ONQzmlZS9ks1fQHGjadwBW-8cAtXSMGytLdZvo3zYlhC5M_2b2t6YF_TYPXzQrOqJNc5g6R97pDmyCelP04u4Jv77_j1yLGsbfON0vaSxvx6YkZTkGYV6Vrr_FmsxGJcCxm13SMd5hDSYvfIDj58t10ijYU5ZEt-avvBgNKFFJNlQjFW6O8L3ZuFuYMpKK69cb_y5Y_UVWkJiFCynMqkMiqz9sEmF-0NHIIO2bmxcG7fCjgsN31jgvTF4W2QGp2Ii90G3pEcdaaB-ARGd1GleP2AnAQnwGAwvO1IiFzYPzqk_dfO7kniNbOnL8ArfVSw5fX_2O12xZ3VWlq2lplJM2tAGLDcWXekiCw7Mm8SQzv-3tkXiAZpmqtnfVD3qrl3TI"
      }
    ],
    "x": 450,
    "y": 700,
    "wires": [["2f755b4e8e8be425"]]
  },
  {
    "id": "f360c68bf35d63f6",
    "type": "inject",
    "z": "f7f0ec16aa75d46b",
    "name": "3 Hours Injector",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "10800",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "payload": "{\"lat\":\"13.760281\",\"lon\":\"100.569679\",\"fields\":\"tc,rh,rain\"}",
    "payloadType": "json",
    "x": 230,
    "y": 700,
    "wires": [["bc01bef8c6a0e309"]]
  },
  {
    "id": "c9d6a43d39483297",
    "type": "mongodb4",
    "z": "f7f0ec16aa75d46b",
    "clientNode": "153d582d07f88371",
    "mode": "collection",
    "collection": "TMD",
    "operation": "insertOne",
    "output": "toArray",
    "handleDocId": true,
    "name": "",
    "x": 900,
    "y": 700,
    "wires": [["9d7dd4f910c3aa0f"]]
  },
  {
    "id": "2f755b4e8e8be425",
    "type": "change",
    "z": "f7f0ec16aa75d46b",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.temp",
        "pt": "msg",
        "to": "payload.WeatherForecasts[0].forecasts[0].data.tc",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.rain",
        "pt": "msg",
        "to": "payload.WeatherForecasts[0].forecasts[0].data.rain",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.timestamp",
        "pt": "msg",
        "to": "",
        "tot": "date"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 660,
    "y": 700,
    "wires": [["c9d6a43d39483297", "a6045ec21f992520"]]
  },
  {
    "id": "9d7dd4f910c3aa0f",
    "type": "debug",
    "z": "f7f0ec16aa75d46b",
    "name": "Mongo Output TMD",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1120,
    "y": 700,
    "wires": []
  },
  {
    "id": "a6045ec21f992520",
    "type": "debug",
    "z": "f7f0ec16aa75d46b",
    "name": "Data",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 890,
    "y": 780,
    "wires": []
  },
  {
    "id": "7477aa6c16caeae4",
    "type": "change",
    "z": "f7f0ec16aa75d46b",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.timestamp",
        "pt": "msg",
        "to": "",
        "tot": "date"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 720,
    "y": 460,
    "wires": [["7d50d11e26175a5a", "f04b7e3baef72e65"]]
  },
  {
    "id": "671bb92aae0c3d06",
    "type": "function",
    "z": "f7f0ec16aa75d46b",
    "name": "Calculate Water",
    "func": "msg.payload = {\n    \"amp\": msg.payload,\n    \"watt\": msg.payload * 5,\n    \"volt\": 5,\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 460,
    "wires": [["7477aa6c16caeae4"]]
  },
  {
    "id": "f04b7e3baef72e65",
    "type": "debug",
    "z": "f7f0ec16aa75d46b",
    "name": "Mongo Output Electric",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1000,
    "y": 400,
    "wires": []
  },
  {
    "id": "6f7d81873a6db7b1",
    "type": "mqtt-broker",
    "name": "KU IoT",
    "broker": "iot.cpe.ku.ac.th",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "153d582d07f88371",
    "type": "mongodb4-client",
    "name": "Atlas",
    "protocol": "mongodb+srv",
    "hostname": "daq.fg7tz9x.mongodb.net",
    "port": "",
    "dbName": "HappyEWater",
    "authSource": "",
    "authMechanism": "DEFAULT",
    "tls": false,
    "tlsCAFile": "",
    "tlsInsecure": false,
    "uri": "mongodb+srv://<username>:<password>@daq.fg7tz9x.mongodb.net/?retryWrites=true&w=majority",
    "advanced": "",
    "uriTabActive": "tab-uri-simple"
  }
]
